@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  outline: none !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lineseed);
}

.bold {
  font-weight: 700 !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: none;
  overscroll-behavior: contain;
}

.scrollbar {
  scrollbar-width: thin;
}

@layer utilities {
  @keyframes textPulse {
    0%,
    100% {
      color: #ffffff;
    }
    50% {
      color: #ff3334;
    }
  }

  .animate-textPulse {
    animation: textPulse 5s infinite ease-in-out;
  }
}

@layer utilities {
  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-carousel {
    animation: carousel 25s linear infinite;
  }

  .pause-animation {
    animation-play-state: paused;
  }
}

@layer utilities {
  @keyframes skeleton-shimmer {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }
}

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.6s ease-out;
  }
}
